 
<div class="row-fluid">
	<div class="span12 well container">
		<div id="home">
			<div class="pull-right">
				<%= link_to("+分享故事", new_blog_path, :class=>"btn btn-success")%>
			</div>
			<h2>故事集..</h2>
			 <p>欢迎你来到这里，聆听我们真实的故事...</p>
			<hr />
			
		 
			<div class="SL">
              <!--Start Post-->
              <%@items.each  do |blog|%>
              <div class="post">
                      <div class="p-head">
                              <h3><%=link_to blog.title,blog_path(blog)%>  </h3>
							  <%if (blog.account_id && blog.account_id == session[:account_id]) %>
							  	<div class="pull-right"><%=link_to "编辑",edit_blog_path(blog.id)%></div>
							  <%end%>
                              <p class="p-cat">
								By: <%= raw blog.account.try(:username) %> 
								Tag:<%=blog_tags_tag(blog)%> 
							  </p>
                              <small class="p-time">
                                      <strong class="day"><%=blog.created_at.day%></strong>
                                      <strong class="month"><%=blog.created_at.strftime("%b")%></strong>
                                      <strong class="year"><%=blog.created_at.year%></strong>
                              </small>
                      </div>
                      <div class="p-con">            
                        <%=raw blog.body_html%>   
					  </div>
       </div>
       <%end%>
               <!-- Pagination links -->
              <%= will_paginate @items %>
			<p></p>
			</div>

	 
		</div>
	</div>
</div>
