 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<div class="pull-right">
				<%= link_to("+分享故事", new_blog_path, :class=>"btn btn-success")%>
			</div>
			<h2>真实故事..</h2>
			 <p>欢迎你来到这里，我们正在开发中...</p>
			<hr />
			
		 

              <!--Start Post-->
              <%@items.each  do |blog|%>
              <div class="post" style="margin-bottom: 40px;">
                      <div class="p-head">
                              <h3><%=link_to blog.title,blog_path(blog)%>  </h3>
                              <p class="p-cat">By: <%= raw blog.account.try(:username) %> Tag:<%=blog_tags_tag(blog)%> </p>
                              <small class="p-time">
                                      <strong class="day"><%=blog.created_at.day%></strong>
                                      <strong class="month"><%=blog.created_at.strftime("%b")%></strong>
                                      <strong class="year"><%=blog.created_at.year%></strong>
                              </small>
                      </div>
                      <div class="p-con">                
                              <%=simple_format blog.body_html%>                                
    </div>
       </div>
       <%end%>
               <!-- Pagination links -->
              <%= will_paginate @items %>

	 
		</div>
	</div>
</div>
