<div class="row-fluid">
	<div class="span12 well">
  

			<%= form_for @blog  do |f| %>
	  <fieldset>
	    <legend>撰写故事</legend>
	    <%= render "shared/error_messages", :target => @blog %>



	    <div class="clearfix">
	      <%= f.label "故事标题" %>
	      <div class="input">
	        <%= f.text_field :title, :class => "xxlarge form-control" %>
	      </div>
			<p class="help-block"></p>
	    </div>

 	    <div class="clearfix">
	      <%= f.label "故事内容" %>
	      <div class="input">
		 	<%= f.text_area :body, :rows => "10",:class => "xxlarge form-control" %>
	      </div>
			<p class="help-block"></p>
	    </div>
 


	    <div class="clearfix">
	      <%= f.label "故事标签(多个标签可用空格 分割)" %>
	      <div class="input">
	        <%= f.text_field :tag_list, :class => "xxlarge form-control" %>
	      </div>
		  <p class="help-block"></p>
	    </div>


	    <div class="actions">
	      <%= f.submit "故事写好了", :class => "btn btn-primary", :id=>"submit-it", :disable_with => "保存ing.." %>
	    </div>
	<% end %> 
	
	

	<div class="clearfix"></div>

	</div>
		
 
	
 
 	</div>
</div>

