 
<div class="row-fluid">
	<div class="span12 well">
<div class="SL">

  <div class="blog" style="margin-bottom: 40px;">
          <div class="p-head">
                  <h2><%=link_to @blog.title,blog_path(@blog)%>  </h2>
                  <p class="p-cat">By: <%= raw @blog.account.try(:username) %> ,   Tag: <%=blog_tags_tag(@blog)%> </p>
                  <small class="p-time">
                          <strong class="day"><%=@blog.created_at.day%></strong>
                          <strong class="month"><%=@blog.created_at.strftime("%b")%></strong>
                          <strong class="year"><%=@blog.created_at.year%></strong>
                  </small>
          </div>
          <div class="p-con">                
                  <%=raw @blog.body_html%>                                
       </div>

           <div class="p-con-author">        
                  作者： <%= raw @blog.account.try(:username) %>  <br />
                  原文地址： <%=link_to @blog.title,blog_path(@blog)%> 
          </div>

 
</div> 

  <div class="comments" >
  <!-- Duoshuo Comment BEGIN -->
          <div class="ds-thread"></div>
          <script type="text/javascript">
          var duoshuoQuery = {short_name:"<%=raw 'iceskysl'%>"};
          (function() {
                  var ds = document.createElement('script');
                  ds.type = 'text/javascript';ds.async = true;
                  ds.src = 'http://static.duoshuo.com/embed.js';
                  ds.charset = 'UTF-8';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
  <!-- Duoshuo Comment END -->
          </div>

</div>

</div>
</div>