<% content_for :sitemap do %>
  <span class="current">聊天请求</span>
<% end %>
<h1>聊天请求</h1>

<table class="table table-condensed">
  <tr class="head">
    <td class="first">ID</td>
    <td>接收</td>
    <td>发出</td>
    <td>地点</td>
	<td>约聊时间</td>
    <td style="width:350px">话题</td>
    <td>状态</td>
    <td>时间</td>
  </tr>

<% @items.each do |chat| %>
  <tr class="<%= "deleted" if !chat.deleted_at.blank? %>">
    <td class="first"><%= chat.id %></td>
    <td><%= chat.user.try(:username)%></td>
    <td><%= chat.account.try(:username)%></td>
    <td><%= chat.location %></td>
    <td><%= chat.date %> <%= chat.when %></td>
    <td><%=link_to chat.topic,"#",:title => chat.body %></td>
	<td><%= chat.state %></td>
    <td><%= chat.created_at %></td>

  </tr>
<% end %>
</table>
<%= will_paginate @items %>