<p>
	<label><%= @account.username %>, 你好</label><br />
  
	<a href="http://www.huodongrili.com/m/<%=@user.u_login%>"><%= @user.username %></a>约您见面：<br />
	 
	聊天时间：   <%=@chat.date%> <%=@chat.when%>(聊1小时)<br />
	聊天地点：   <%=@chat.location%><br />
	聊天内容：   <%=@chat.topic%>   <br />
	其他备注：   <br />
	<%=simple_format @chat.body%> 	
</p>

<p>
您是否愿意见面？<br />
<span style = "color:#CC0000">同意请点击链接？</span>
<a href="http://lab.huodongrili.com/chats/confirm?id=<%=@chat.id%>">http://lab.huodongrili.com/chats/confirm?id=<%=@chat.id%></a>
</p>

<p style = "color:#0099CC">不想见面请直接忽略。</p>



