<p>
	<label><%= @user.username %>, 你好</label><br />
	<a href="http://www.huodongrili.com/m/<%=@account.u_login%>"><%= @account.username %></a>同意你约见面邀请（邮件地址是：<%=@account.email %>）。<br />
	你们可以邮件约见面详情。<br /><br />
	
	可以再读一次首页指南。<br />
	最重点是：<br />
	1）友善和倾听<br />
	2）给详细交通指南。<br />
	3）不要迟到。<br />
	4）约见安静地方。<br />
	
	<br />
	——--如下是聊天备忘信息-----<br />
	聊天时间：   <%=@chat.date%> <%=@chat.when%>(聊1小时) <br />
	聊天地点：   <%=@chat.location%><br />
	聊天内容：   <%=@chat.topic%>   <br />
	其他备注：   <br />
	<%=simple_format @chat.body%> 	
</p>
<p>
	见面完毕后，可以在活动日历写见面故事分享：）<br />
	祝聊天愉快。<br />
</p>
 
