<p>
	<label><%= @user.username %>, 你好</label><br />
   	<%=@account.username %> 同意你约见面邀请。<br />
	您可以通过她社交账号直接私信联络，约定好见面时间和地点。<br />
	她的邮件地址是：<%=@account.email %><br />
	
	<br />
	——--如下是聊天备忘信息-----<br />
	聊天时间：   <%=@chat.date%> <%=@chat.when%><br />
	聊天地点：   <%=@chat.location%><br />
	聊天内容：   <%=@chat.topic%>   <br />
	其他备注：   <br />
	<%=@chat.body%> 	
</p>
<p>
	聊天结束后可以将自己的聊天故事分享到活动日历 
</p>

