<!DOCTYPE html>
<html>
<head>
  <title>活动日历</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render :partial => '/shared/navbar'%>
 <div class="container">
	 <%= notice_message %>
	<%= yield %>
 </div>
 <%= render :partial => '/shared/footer'%>


<script>
    $(".dropdown-toggle").dropdown();
	$('.timepicker').timepicker();
	$('[data-behaviour~=datepicker]').datepicker();
</script>

</body>
</html>
