<!DOCTYPE html>
<html>
<head>
  <title>活动日历</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render :partial => '/shared/navbar'%>
 <div class="container">
	 <%= notice_message %>
	<%= yield %>
 </div>
 <%= render :partial => '/shared/footer'%>


<script>
    $(".dropdown-toggle").dropdown();
	$('[data-behaviour~=datepicker]').datepicker({
		    format: "yyyy-mm-dd",
		    weekStart: 1,
		    todayBtn: "linked",
		    daysOfWeekDisabled: "0,6",
		    autoclose: true,
		    todayHighlight: true
		});
</script>

</body>
</html>
