 
<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>+约我..</h2>
		    <p>完善聊天资料，方便其他人约哟...</p>
			<hr />
		 	<%= form_for @account  do |f| %>
		    <%= render "shared/error_messages", :target => @account %>
 			
		    <div class="clearfix">
		      <%= f.label "合适的聊天话题" %>
		      <div class="input">
			 	<%= f.text_area :topic_list, :rows => "3",:class => "xxlarge" %>
		      </div>
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "合适的聊天地点" %>
		      <div class="input">
			 	<%= f.text_area :location_list, :rows => "3",:class => "xxlarge" %>
		      </div>
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "合适的聊天时间" %>
		      <div class="input">
			 	<%= f.text_area :date_list, :rows => "3",:class => "xxlarge" %>
		      </div>
		    </div>
			
            <%["zhihu","weibo","douban","twitter","facebook","google"].each do |s|%>
		    <div class="clearfix">
		      <%= f.label s %>
		      <div class="input">
		        <%= f.text_field :"#{s}", :class => "xxlarge" %>
		      </div>
		    </div>
			<%end%>
		
 
		
		
			    <div class="actions">
			      <%= f.submit "保存", :class => "btn primary", :disable_with => "保存ing.." %>
			    </div>
			<% end %>

 
		</div>
	</div>
</div>
