<div class="row-fluid">
	<div class="span12 well">
		<div id="home">
			<h2>我的设置..</h2>
		    <p>完善资料，能方便大家了解 ：）</p>
			<hr />
		 	<%= form_for @account  do |f| %>
		    <%= render "shared/error_messages", :target => @account %>
 			
			<fieldset>
				<legend>个人资料</legend>
		
		    <div class="clearfix">
		      <div class="avatar">
				<%=image_tag @current_account.avatar%>
		      </div>
		    </div>	
		
		<br />
		    <div class="clearfix">
		      <%= f.label '邮件地址' %>
		      <div class="input">
				<%=@account.email%>
		      </div>
				<p class="help-block"></p>
  	
		    </div>
		
 			    <div class="clearfix">
			      <%= f.label "您的昵称" %>
			      <div class="input">
			        <%= f.text_field :username, :class => "large form-control" %>
			      </div>
			<p class="help-block">你的名字,会被其他人看到</p>
			    </div>
			
 			    <div class="clearfix">
			      <%= f.label '你的城市' %>
			      <div class="input">
			        <%= f.text_field :city, :class => "large form-control" %>
			      </div>
				<p class="help-block">请用中文填写所在城市</p>
			    </div>

			    <div class="clearfix">
			      <%= f.label "我的个人标签(比如：工程师 画家 小清新)" %>
			      <div class="input">
			        <%= f.text_field :tag_list, :class => "xxlarge form-control" %>
			      </div>
				<p class="help-block">我的个人标签</p>

			    </div>
			
 
 			</fieldset>				
		
		<br />	
 
			<fieldset id="chat">
			<legend>聊天设置</legend>

			<div class="clearfix">
		      <div class="xxlarge">
		        <%= f.select(:is_chat, Account.chat_collection, {} , {:class=>'large form-control'})%>
		      </div>
				<p class="help-block"> </p>
		
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "我的显示图片, 请输入Link" %>
		      <div class="">
		        <%= f.text_field :image, :class => "xxlarge form-control" %>
		      </div>
				<p class="help-block">图片URL</p>
		
		    </div>
		
 
			
		    <div class="clearfix">
		      <%= f.label "个人介绍" %>
		      <div class="input">
			 	<%= f.text_area :bio, :rows => "5",:class => "xxlarge form-control" %>
		      </div>
				<p class="help-block">请输入你的个人介绍</p>
		    </div>
		

		
			
		    <div class="clearfix">
		      <%= f.label "喜欢的聊天话题" %>
		      <div class="input">
			    <%= f.text_field :topic_list, :class => "xxlarge form-control" %>		    
		      </div>
			<p class="help-block">喜欢的聊天话题</p>
		
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "合适的聊天地点" %>
		      <div class="input">
				<%= f.text_field :location_list, :class => "xxlarge form-control" %>
		      </div>
			<p class="help-block">合适的聊天地点</p>
		
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "合适的聊天时间" %>
		      <div class="input">
				<%= f.text_field :date_list, :class => "xxlarge form-control" %>
		      </div>
			<p class="help-block">合适的聊天时间</p>
		
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "个人博客" %>
		      <div class="input">
				<%= f.text_field :website, :class => "xxlarge form-control" %>
		      </div>
			<p class="help-block">个人博客</p>
		
		    </div>
		
	 
		
		    <div class="clearfix">
		      <%= f.label "知乎主页" %>
		      <div class="input-group xlarge">
				<span class="input-group-addon">http://www.zhihu.com/people/</span>
				<%= f.text_field :zhihu, :class => "xxlarge form-control",:placeholder=>"Username" %>
		      </div>
		    </div>
		
		    <div class="form-group">
			    <label for="douban">豆瓣主页</label>
		      <div class="input-group xlarge">
				<span class="input-group-addon">http://www.douban.com/people/</span>
				<%= f.text_field :douban, :class => "xxlarge form-control",:placeholder=>"Username" %>
		      </div>
		    </div>
		
		    <div class="clearfix">
		      <%= f.label "微博地址" %>
		      <div class="input-group xlarge">
				<span class="input-group-addon">http://www.weibi.com/</span>
				<%= f.text_field :weibo, :class => "xxlarge form-control",:placeholder=>"Username" %>
		      </div>
		    </div>
		
 
			
			</fieldset>				
		
 			<br />	

			    <div class="actions">
			      <%= f.submit "保存", :class => "btn btn-primary", :disable_with => "保存ing.." %>
			    </div>
			<% end %>

 
		</div>
	</div>
</div>



