
<div class="row-fluid">


<div class="span12 well">
	<h2>Profile</h2>
	
	<div class="box">
		<h2>My infos</h2>
		<p>如下是我的个人基本信息.</p>
		<div class="box">
			<%=image_tag @current_account.avatar%>
		</div>
		<div class="box">
			username: <%=@current_account.username%>
		</div>	
		<div class="box">
			email: <%=@current_account.email%>
		</div>
 
		<div class="box">
			bio: <%=@current_account.bio%>
		</div>
		<div class="box">
			roles: <%=@current_account.roles%>
		</div>
	</div>
	
	<div class="box">
		<h2>聊天资料</h2>
		<p>如下是我的聊天资料</p>
		<div class="box">
			topics: <%=@current_account.topics%>
		</div>
		<div class="box">
			locations: <%=@current_account.locations%>
		</div>	
		<div class="box">
			dates: <%=@current_account.dates%>
		</div>
 
 
	</div>
	
 
		
</div>
 
</div>