
<div class="row-fluid">
	
 

<div class="span9 well profile">
 	
	<div class="profile-base item apply_form">
		
		<div class="pull-left">
			<%=image_tag @account.avatar,:size=>"80x80"%>
		</div>
		
		<div class="profile_info pull-left" >
			<h3><%=@account.username%></h3>
			<div class="tags">
				<p>
				<%unless @account.city.blank?%>
				 <button type="button" class="btn btn-info btn-xs"><%=@account.city%></button>
				<%end%>
				<%@account.tags.each do |tag|%>
				 <button type="button" class="btn btn-primary btn-xs"><%=tag%></button>
				<%end%>		
				</p>				  
				</div>
		 
			<p>
				<%=link_to image_tag("website.png",:size=>"16x16",:alt=>"我的网站"),@account.website,:target=>"_blank" unless @account.website.blank?%>	
				<%=link_to image_tag("weibo.png",:size=>"16x16",:alt=>"免费聊天"),@account.weibo_url,:target=>"_blank" unless @account.weibo.blank? %>
				<%=link_to image_tag("zhihu.png",:size=>"16x16",:alt=>"免费聊天"),@account.zhihu_url,:target=>"_blank" unless @account.zhihu.blank? %>
				<%=link_to image_tag("douban.png",:size=>"16x16",:alt=>"免费聊天"),@account.douban_url,:target=>"_blank" unless @account.douban.blank?%>
			</p>
		</div>
	</div>
	

	<div class="profile-items item apply_form">

	<h3>我的Link（分享这个Link让朋友们约聊天吧）</h3>
	<div class="box">
		<%=@account.my_link%>
	</div>
		
	<h3>自我介绍</h3>
	<div class="box">
		<%=simple_format @account.bio%>
	</div>
	

	<%if @account.dates%>
	<h3>方便的时间</h3>
	<div class="box">
		<ul>
		<%@account.dates.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
 	</div>
	<%end%>
	
	
	<%if @account.locations%>
	<h3>方便的地点</h3>
	<div class="box">
		<ul>
		<%@account.locations.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
 	</div>
	<%end%>
	
	<%if @account.topics%>
	<h3>感兴趣的话题</h3>
	<div class="box">
		<ul>
		<%@account.topics.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
	</div>
	<%end%>

	</div>	
	
	<%unless session[:account_id] && session[:account_id].to_i == @account.id  %>
 	 <%= render :partial => '/chats/item'%>
	<p>
		ps.<br />
		请仔细填写，才可以大大提高约成功的概率~
	</p>
	<%else%>
	<p>
		ps.<br />
		自己就不要约自己啦~
	</p>
	<%end%>




</div>
 
</div>