
<div class="row-fluid">
	
 

<div class="span9 well profile">
 	
	<div class="profile-base item apply_form">
		
		<div class="pull-left">
			<%=image_tag @account.avatar,:size=>"80x80"%>
		</div>
		
		<div class="profile_info pull-left" >
			<h3><%=@account.username%></h3>
			<p><%=@account.tagline%></p>
			<p>
				<%=link_to image_tag("weibo.png",:size=>"16x16",:alt=>"免费聊天"),@account.weibo,:target=>"_blank" unless @account.weibo.blank? %>
				<%=link_to image_tag("zhihu.png",:size=>"16x16",:alt=>"免费聊天"),@account.zhihu,:target=>"_blank" unless @account.zhihu.blank? %>
				<%=link_to image_tag("douban.png",:size=>"16x16",:alt=>"免费聊天"),@account.douban,:target=>"_blank" unless @account.douban.blank?%>
			</p>
		</div>
	</div>
	

	<div class="profile-items item apply_form">
	<h3>我的标签</h3>
	<div class="box">
		<%=@account.tag_list%>
	</div>
	
	<h3>自我介绍</h3>
	<div class="box">
		<%=simple_format @account.bio%>
	</div>
	

	<%if @account.dates%>
	<h3>方便的时间</h3>
	<div class="box">
		<ul>
		<%@account.dates.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
 	</div>
	<%end%>
	
	
	<%if @account.locations%>
	<h3>方便的地点</h3>
	<div class="box">
		<ul>
		<%@account.locations.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
 	</div>
	<%end%>
	
	<%if @account.topics%>
	<h3>感兴趣的话题</h3>
	<div class="box">
		<ul>
		<%@account.topics.each do |t|%>
			<li><%=t%></li>
		<%end%>
		</ul>
	</div>
	<%end%>

	</div>	
	
	<%unless session[:account_id] && session[:account_id].to_i == @account.id  %>
 	 <%= render :partial => '/chats/item'%>
	<p>
		ps.<br />
		请仔细填写，才可以大大提高约成功的概率~
	</p>
	<%else%>
	<p>
		ps.<br />
		自己就不要约自己啦~
	</p>
	<%end%>




</div>
 
</div>